# This file is for use with the backup-webdb.sh in the /tools/ directory.
# It's intended to backup the primary website db. You are very likely
# never needing to touch it.
username=someuser
host=your.backup.host
path=/our/backup/path/
private_key=your-key.priv
port=22
