Options +FollowSymLinks
RewriteEngine on

RewriteCond %{DOCUMENT_ROOT}content%{REQUEST_URI}\.php -f
RewriteRule ^(.+)$      /show_page.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.+)$  the-api.php?func=$1 [L]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule (.*) $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.+)$      forwarder.php?$1 [L]
